/* General Reset and Styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50); /* Color de fondo gris oscuro */
    color: #000; /* Color de texto */
}

h1 { font-size: 3.5em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
p { font-size: 1.25em; }
ul { list-style: none; }
li { font-size: 1.25em; }

button {
    background-color: rgb(241, 145, 0);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.01em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

button:hover {
    background-color: rgb(241, 108, 0);
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* Header Styles */
header {
    background-color: rgb(245, 245, 245); /* Color de fondo del encabezado */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 5px 14px;
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Espacia el logo y el menú de navegación */
}

header .logo {
    margin: 0;
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-size: 1.9em;
}

header nav {
    display: flex; /* Alinea los elementos en una fila */
    gap: 20px; /* Espacio entre los enlaces del menú */
    flex-wrap: nowrap; /* Previene que los elementos se envuelvan a la siguiente línea */
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 0 10px;
}

header a:hover {
    color: blueviolet;
}

/* Login Section Styles */
#login {
    background-color: #f2f2f2; /* Fondo gris claro para el formulario */
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 510px;
    width: 100%;
    margin: 400px auto 50px; /* Aumenta el margen superior para mayor separación del encabezado */
}

#login h1 {
    margin-bottom: 20px;
    font-size: 2.1em;
    color: rgb(255, 94, 0);
    text-align: center;
}

#login form {
    display: flex;
    flex-direction: column;
}

#login label {
    margin-bottom: 5px;
    font-weight: bold;
}

#login input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login button {
    background-color: rgb(241, 145, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

#login button:hover {
    background-color: rgb(241, 108, 0);
}

#login p {
    text-align: center;
}

#login a {
    color: rgb(255, 94, 0);
    text-decoration: none;
}

#login a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: rgb(50, 50, 50); /* Color de fondo del footer igual al de la página */
    padding: 10px 0;
    text-align: center;
    margin-top: auto; /* Asegura que el footer esté al final */
}

footer p {
    color: rgb(222, 216, 216);
}
